/**
* Main.scss para Music Search
*/
/*variables.scss*/
/*eo-variables.scss*/
/* media.scss*/
/* eo-media.scss*/
/* reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* eo-reset.scss */
/* mixin.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper,
.row, .ms-row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .ms-row:before, .wrapper:after,
  .row:after, .ms-row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after, .ms-row:after {
    clear: both; }

/* eo-mixin.scss */
/*Generales*/
html {
  font-family: "Lucida Sans", sans-serif; }

body, html {
  height: 100%;
  overflow: auto; }

body {
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: darkgray;
  background-color: #333441;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

/*grid*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img.rez {
  width: auto;
  max-width: 100%;
  height: auto !important; }

img.cent {
  display: block;
  margin: auto; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='ms-col-'] {
  float: left;
  padding: 5px;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 460px) {
  .wrapper {
    width: 95%;
    max-width: 65em; }

  .ms-col-1 {
    width: 8.33333%; }

  .ms-col-2 {
    width: 16.66667%; }

  .ms-col-3 {
    width: 25%; }

  .ms-col-4 {
    width: 33.33333%; }

  .ms-col-5 {
    width: 41.66667%; }

  .ms-col-6 {
    width: 50%; }

  .ms-col-7 {
    width: 58.33333%; }

  .ms-col-8 {
    width: 66.66667%; }

  .ms-col-9 {
    width: 75%; }

  .ms-col-10 {
    width: 83.33333%; }

  .ms-col-11 {
    width: 91.66667%; }

  .ms-col-12 {
    width: 100%; } }
/* eo-grid*/
/*cuerpo*/
div#ms-body {
  width: 100%;
  padding: 0;
  margin: 0; }

#ms-content {
  color: gray;
  display: inline-block; }
  @media (min-width: 481px) {
    #ms-content {
      width: 98%; } }
  @media (min-width: 481px) {
    #ms-content {
      width: 90%; } }
  @media (min-width: 961px) {
    #ms-content {
      width: 90%; } }
  @media (min-width: 1025px) {
    #ms-content {
      width: 90%; } }
  @media (min-width: 1399px) {
    #ms-content {
      width: 1440px; } }

a:hover#ms-ref {
  background-color: #CD4282; }

a:link#ms-ref {
  background-color: #D05D84; }

.cent-dv {
  display: flex;
  justify-content: center;
  align-items: center; }

#ms-id-img-page_1 {
  height: 55px !important;
  width: auto !important; }

#ms-id-img-logo {
  height: 55px;
  width: auto; }
  @media (min-width: 481px) {
    #ms-id-img-logo {
      height: 560px;
      width: auto; } }
  @media (min-width: 481px) {
    #ms-id-img-logo {
      height: 70px;
      width: auto; } }
  @media (min-width: 961px) {
    #ms-id-img-logo {
      height: 85px;
      width: auto; } }
  @media (min-width: 1025px) {
    #ms-id-img-logo {
      height: 95px;
      width: auto; } }
  @media (min-width: 1399px) {
    #ms-id-img-logo {
      height: 110px;
      width: auto; } }

#ms-id-img-logo2 {
  height: auto !important;
  width: 56px !important; }

#ms-id-img-page_12 {
  height: 45px !important;
  width: auto !important; }

#ms-id-img-hero {
  height: 50% !important;
  width: 50% !important; }

.sppower {
  color: white;
  font-size: 12px; }
  @media (min-width: 1025px) {
    .sppower {
      font-size: 14px; } }
  @media (min-width: 1399px) {
    .sppower {
      font-size: 15px; } }

#ms-id-hero {
  background-color: #CD4282; }

#ms-hero1 {
  display: none;
  visibility: hidden;
  background-color: #CD4282; }
  @media (min-width: 481px) {
    #ms-hero1 {
      display: block;
      visibility: visible; } }
  @media (min-width: 961px) {
    #ms-hero1 {
      display: block;
      visibility: visible; } }
  @media (min-width: 1025px) {
    #ms-hero1 {
      display: block;
      visibility: visible; } }
  @media (min-width: 1399px) {
    #ms-hero1 {
      display: block;
      visibility: visible; } }

#ms-hero2 {
  display: block;
  visibility: visible;
  background-color: #CD4282; }
  @media (min-width: 481px) {
    #ms-hero2 {
      display: none;
      visibility: hidden; } }
  @media (min-width: 961px) {
    #ms-hero2 {
      display: none;
      visibility: hidden; } }
  @media (min-width: 1025px) {
    #ms-hero2 {
      display: none;
      visibility: hidden; } }
  @media (min-width: 1399px) {
    #ms-hero2 {
      display: none;
      visibility: hidden; } }

.ms-hero-image {
  /* The image used */
  /* Set heights */
  height: 500px !important;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

#ms-head {
  background-color: #CD4282; }

#ms-search-results {
  background-color: #333441; }
  @media (min-width: 481px) {
    #ms-search-results {
      background-color: #383A49; } }
  @media (min-width: 961px) {
    #ms-search-results {
      background-color: #383A49; } }
  @media (min-width: 1025px) {
    #ms-search-results {
      background-color: #383A49; } }
  @media (min-width: 1399px) {
    #ms-search-results {
      background-color: #383A49; } }

#ms-search-foot {
  background-color: #333441; }
  @media (min-width: 481px) {
    #ms-search-foot {
      background-color: #383A49; } }
  @media (min-width: 961px) {
    #ms-search-foot {
      background-color: #383A49; } }
  @media (min-width: 1025px) {
    #ms-search-foot {
      background-color: #383A49; } }
  @media (min-width: 1399px) {
    #ms-search-foot {
      background-color: #383A49; } }

#ms-id-footer-txt {
  color: white;
  font-size: 15px;
  line-height: 1.5; }

#ms-foot {
  height: 100px;
  background-color: #333441; }

.ms-header {
  background-color: grey;
  color: black;
  padding: 15px; }

#ms-search-span-parent {
  text-align: center;
  height: 100%;
  width: 100%; }

#ms-search-bar {
  background-color: #333441; }

#ms-search-input {
  width: 65%;
  background-color: white;
  border-image: initial;
  text-align: left;
  margin: 5px 0 12px 0;
  border-radius: 50px 50px 50px 50px;
  padding: 8px 0 8px 20px;
  border: 0 none transparent;
  height: 40px; }
  @media (min-width: 481px) {
    #ms-search-input {
      width: 55%;
      background-color: white;
      border-image: initial;
      text-align: left;
      margin: 5px 0 5px 5px;
      border-radius: 50px 0 0 50px;
      padding: 8px 0 8px 20px;
      border: 0 none transparent;
      height: 40px; } }
  @media (min-width: 961px) {
    #ms-search-input {
      width: 75%;
      background-color: white;
      border-image: initial;
      text-align: left;
      margin: 5px 0 5px 5px;
      border-radius: 50px 0 0 50px;
      padding: 8px 0 8px 20px;
      border: 0 none transparent;
      height: 40px; } }
  @media (min-width: 1025px) {
    #ms-search-input {
      width: 75%;
      background-color: white;
      border-image: initial;
      text-align: left;
      margin: 5px 0 5px 5px;
      border-radius: 50px 0 0 50px;
      padding: 8px 0 8px 20px;
      border: 0 none transparent;
      height: 40px; } }
  @media (min-width: 1399px) {
    #ms-search-input {
      width: 80%;
      background-color: white;
      border-image: initial;
      text-align: left;
      margin: 5px 0 5px 5px;
      border-radius: 50px 0 0 50px;
      padding: 8px 0 8px 20px;
      border: 0 none transparent;
      height: 40px; } }

#ms-button-box {
  width: 100%;
  float: left;
  margin: 0 0 0 0;
  border-radius: 0 0 0 0;
  border: 0 none transparent;
  background-color: transparent;
  height: 0;
  padding: 0 0 0 0; }
  @media (min-width: 481px) {
    #ms-button-box {
      width: 70%;
      float: inherit;
      margin: 5px 5px 5px -5px;
      border-radius: 0 50px 50px 0;
      border: 0 none transparent;
      background-color: white;
      height: 40px;
      padding: 12px 5px 13px 5px; } }
  @media (min-width: 481px) {
    #ms-button-box {
      width: 75%;
      float: inherit;
      margin: 5px 5px 5px -5px;
      border-radius: 0 50px 50px 0;
      border: 0 none transparent;
      background-color: white;
      height: 40px;
      padding: 12px 5px 13px 5px; } }
  @media (min-width: 961px) {
    #ms-button-box {
      width: 80%;
      float: inherit;
      margin: 5px 5px 5px -5px;
      border-radius: 0 50px 50px 0;
      border: 0 none transparent;
      background-color: white;
      height: 40px;
      padding: 12px 5px 13px 5px; } }
  @media (min-width: 1025px) {
    #ms-button-box {
      width: 85%;
      float: inherit;
      margin: 5px 5px 5px -5px;
      border-radius: 0 50px 50px 0;
      border: 0 none transparent;
      background-color: white;
      height: 40px;
      padding: 12px 5px 13px 5px; } }
  @media (min-width: 1399px) {
    #ms-button-box {
      width: 90%;
      float: inherit;
      margin: 5px 5px 5px -5px;
      border-radius: 0 50px 50px 0;
      border: 0 none transparent;
      background-color: white;
      height: 40px;
      padding: 12px 5px 13px 5px; } }

button#ms-search-button {
  height: 40px;
  width: 140px;
  text-align: center;
  cursor: default;
  color: white;
  background-color: #D05D84;
  text-transform: uppercase;
  padding: 8px 13px 8px 13px;
  border: 1px solid transparent;
  border-radius: 100px; }
  @media (min-width: 481px) {
    button#ms-search-button {
      height: 35px;
      text-align: center;
      cursor: default;
      color: white;
      background-color: #D05D84;
      text-transform: uppercase;
      padding: 8px 13px 8px 13px;
      border: 1px solid transparent;
      border-radius: 100px; } }
  @media (min-width: 961px) {
    button#ms-search-button {
      height: 35px; } }
  @media (min-width: 1025px) {
    button#ms-search-button {
      height: 35px; } }
  @media (min-width: 1399px) {
    button#ms-search-button {
      height: 35px; } }

button#ms-search-button:hover {
  color: white;
  background-color: #CD4282;
  border-color: transparent; }

#ms-searchbox-container {
  margin: auto;
  height: 100px; }
  @media (min-width: 481px) {
    #ms-searchbox-container {
      height: 55px; } }
  @media (min-width: 481px) {
    #ms-searchbox-container {
      height: 55px; } }
  @media (min-width: 961px) {
    #ms-searchbox-container {
      height: 55px; } }
  @media (min-width: 1025px) {
    #ms-searchbox-container {
      height: 55px; } }
  @media (min-width: 1399px) {
    #ms-searchbox-container {
      height: 55px; } }

/*Footer*/
span#ms-footer-txt {
  color: gray;
  left: auto;
  right: 50%;
  position: absolute;
  align-content: center;
  background-color: #cccccc; }

span#ms-sb-title {
  font-size: 20px;
  color: gray;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

span#ms-sb-sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important;
  color: lightgrey; }

.outer-div {
  padding: 0px; }

*:focus {
  outline: none; }

input#ms-search-input::-webkit-input-placeholder {
  color: #333441;
  font-size: 12px; }

input#ms-search-input:-moz-placeholder {
  color: #333441;
  font-size: 12px; }

input#ms-search-input:-ms-input-placeholder {
  color: #333441;
  font-size: 12px; }

input#ms-search-input:-moz-placeholder {
  color: #333441;
  font-size: 12px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center; }

.card {
  background: white;
  float: left;
  position: relative;
  border-radius: 3px; }

.card:hover {
  display: flex; }
  @media (min-width: 481px) {
    .card:hover {
      display: block; } }
  @media (min-width: 481px) {
    .card:hover {
      display: block; } }
  @media (min-width: 961px) {
    .card:hover {
      display: block; } }
  @media (min-width: 1025px) {
    .card:hover {
      display: block; } }
  @media (min-width: 1399px) {
    .card:hover {
      display: block; } }
  .card:hover .card-img {
    background: no-repeat center center fixed;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  .card:hover .play {
    display: block;
    visibility: visible; }
  .card:hover .card-hov-txt {
    color: transparent;
    visibility: hidden; }
    @media (min-width: 460px) {
      .card:hover .card-hov-txt {
        color: white;
        visibility: visible; } }
    @media (min-width: 481px) {
      .card:hover .card-hov-txt {
        color: white;
        visibility: visible; } }
    @media (min-width: 481px) {
      .card:hover .card-hov-txt {
        color: white;
        visibility: visible; } }
    @media (min-width: 961px) {
      .card:hover .card-hov-txt {
        color: white;
        visibility: visible; } }
    @media (min-width: 1025px) {
      .card:hover .card-hov-txt {
        color: white;
        visibility: visible; } }
    @media (min-width: 1399px) {
      .card:hover .card-hov-txt {
        color: white;
        visibility: visible; } }

.container {
  height: 100%;
  width: 100%;
  padding: 22px;
  text-align: left; }
  @media (min-width: 460px) {
    .container {
      padding: 12px; } }
  @media (min-width: 481px) {
    .container {
      padding: 15px; } }
  @media (min-width: 481px) {
    .container {
      padding: 15px; } }
  @media (min-width: 961px) {
    .container {
      padding: 22px; } }
  @media (min-width: 1025px) {
    .container {
      padding: 22px; } }
  @media (min-width: 1399px) {
    .container {
      padding: 22px; } }

.card-img-container {
  width: 40%;
  padding: 0;
  margin: 0;
  margin-bottom: -2px; }
  @media (min-width: 460px) {
    .card-img-container {
      width: 100%; } }
  @media (min-width: 481px) {
    .card-img-container {
      width: 100%; } }
  @media (min-width: 481px) {
    .card-img-container {
      width: 100%; } }
  @media (min-width: 961px) {
    .card-img-container {
      width: 100%; } }
  @media (min-width: 1025px) {
    .card-img-container {
      width: 100%; } }
  @media (min-width: 1399px) {
    .card-img-container {
      width: 100%; } }

.card-img {
  width: 100%; }

.card-text {
  color: #2e2e37;
  font-size: 18px;
  text-transform: capitalize;
  text-align: left; }

.card-hov-txt {
  color: transparent;
  visibility: hidden; }

.play {
  position: absolute;
  display: none;
  top: 15%;
  left: 0;
  width: 25%;
  margin: 0 auto;
  z-index: 100;
  cursor: pointer; }
  @media (min-width: 460px) {
    .play {
      width: 100%; } }
  @media (min-width: 481px) {
    .play {
      width: 100%; } }
  @media (min-width: 481px) {
    .play {
      width: 100%; } }
  @media (min-width: 961px) {
    .play {
      width: 100%; } }
  @media (min-width: 1025px) {
    .play {
      width: 100%; } }
  @media (min-width: 1399px) {
    .play {
      width: 100%; } }

.card-img-play {
  width: 50%; }

.indicator-icon {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  width: 50px;
  margin: 0 auto;
  z-index: 100;
  cursor: pointer; }
  @media (min-width: 460px) {
    .indicator-icon {
      bottom: 0px;
      left: 0px;
      width: 100%; } }
  @media (min-width: 481px) {
    .indicator-icon {
      bottom: 0px;
      left: 0px;
      width: 100%; } }
  @media (min-width: 481px) {
    .indicator-icon {
      bottom: 0px;
      left: 0px;
      width: 100%; } }
  @media (min-width: 961px) {
    .indicator-icon {
      bottom: 0px;
      left: 0px;
      width: 100%; } }
  @media (min-width: 1025px) {
    .indicator-icon {
      bottom: 0px;
      left: 0px;
      width: 100%; } }
  @media (min-width: 1399px) {
    .indicator-icon {
      bottom: 0px;
      left: 0px;
      width: 100%; } }

img.card-indicator-icon {
  width: 60%; }
  @media (min-width: 460px) {
    img.card-indicator-icon {
      width: 25%; } }
  @media (min-width: 481px) {
    img.card-indicator-icon {
      width: 25%; } }
  @media (min-width: 481px) {
    img.card-indicator-icon {
      width: 25%; } }
  @media (min-width: 961px) {
    img.card-indicator-icon {
      width: 25%; } }
  @media (min-width: 1025px) {
    img.card-indicator-icon {
      width: 25%; } }
  @media (min-width: 1399px) {
    img.card-indicator-icon {
      width: 25%; } }

a.card-a {
  position: relative;
  text-align: left; }

.center-card {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 460px) {
    .center-card {
      display: block; } }
  @media (min-width: 481px) {
    .center-card {
      display: block; } }
  @media (min-width: 481px) {
    .center-card {
      display: block; } }
  @media (min-width: 961px) {
    .center-card {
      display: block; } }
  @media (min-width: 1025px) {
    .center-card {
      display: block; } }
  @media (min-width: 1399px) {
    .center-card {
      display: block; } }

.ms-modal {
  width: 347px;
  background-color: white;
  border-radius: 3px; }

.modal-img-container {
  overflow: hidden;
  width: 85px;
  height: 85px; }

.modal-img {
  width: 100px;
  height: auto; }

.modal-cross {
  content: url("assets/images/Cross Dark@2x.png");
  width: 20px; }

.modal-cross:hover {
  content: url("assets/images/Cross@2x.png");
  width: 20px; }

#center-col {
  padding: 10px; }

span.modal-t1 {
  font-size: 17px;
  line-height: 1.4; }

span.modal-t2 {
  font-weight: 800; }

hr {
  width: 80%;
  border: none;
  height: 1px;
  color: #cccccc;
  background-color: #cccccc;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
