
<div class="ms-row" id="ms-serach-bar">
    <div class="ms-col-12 cent-dv">
            <span id="ms-search-span-parent">
                    <div id="ms-searchbox-container" class="centre-sc">
                        <input id="ms-search-input" type="text" placeholder="Search for artist or album title"
                               ng-model="vm.query" my-enter="vm.searchSP(vm.query, 0)">
                        <span id="ms-button-box">
                            <button id="ms-search-button"  type="submit"
                                    ng-click="vm.searchSP(vm.query, 0)">
                                Search
                            </button>
                        </span>
                    </div>
            </span><br/>
    </div>
</div>
<div class="ms-row" id="ms-search-results">
    <br>
    <!--model card Artist-->
    <div class="ms-col-4 cent-dv" ng-repeat="artist in vm.artists">
        <div class="card center-card">
            <div class="card-img-container" >
                <a ng-click="vm.openModal(artist.type,artist)" class="card-a">
                    <div class="ms-main-img-cointainer">
                        <img ng-src="{{vm.showImg(artist.images[0].url)}}" class="card-img"> <!-- vm.showHolder -->
                    <div class="indicator-icon">
                        <img src="assets/images/artist-icon@2x.png" class="card-indicator-icon"/>
                    </div> <!--INDICADOR ALBUM/ARTISTA-->
                    </div>
                    <div class="play">
                        <a ng-click="vm.openModal(artist.type,artist)">
                            <img src="assets/images/Bitmap@2x.png" class="card-img-play"/>
                            <br>
                            <span class="card-hov-txt">View Albums</span>
                        </a>
                    </div>
                </a>
            </div>
            <div class="container" style="display: flex;align-items:center;">
                <span class="card-text">{{(artist.name | limitTo: 30) + (artist.name.length > 30 ? '...' : '')}}</span>
            </div>
        </div>
    </div>
    <!--//model card-->
    <!--model card Album-->
    <div class="ms-col-4 cent-dv" ng-repeat="album in vm.albums">
        <div class="card center-card">
            <div class="card-img-container" >
                <a ng-click="vm.openModal(album.type,album)" class="card-a">
                    <div class="ms-main-img-cointainer">
                        <img ng-src="{{vm.showImg(album.images[0].url)}}" class="card-img"> <!-- vm.showHolder -->


                    <div class="indicator-icon">
                        <img src="assets/images/album-icon@2x.png" class="card-indicator-icon"/>
                    </div> <!--INDICADOR ALBUM/ARTISTA-->
                    </div>
                    <div class="play">
                        <a ng-click="vm.openModal(album.type,artist)">
                            <img src="assets/images/Bitmap@2x.png" class="card-img-play"/>
                            <br>
                            <span class="card-hov-txt">View Tracks</span>
                        </a>
                    </div>
                </a>
            </div>
            <div class="container" style="display: flex;align-items:center;">
                <span class="card-text" >{{(album.name | limitTo: 30) + (album.name.length > 30 ? '...' : '')}}</span>
            </div>
        </div>
    </div>
    <!--//model card-->

    <div class="ms-col-12 ccenter " ng-show="vm.noItems()" >
            <img src="assets/images/Magnify@2x.png" class="magnify"  align="center" /> <br>
    </div>
    <div class="ms-col-12 ccenter findme" ng-show="vm.noItems()">
        <br class="findme"><br class="findme"><br class="findme">
        <span style="color: #454756; font-size: 20px;" class="findme">Your results will appear here</span>
    </div>
    <div class="ms-col-12"  ng-hide="vm.noItems()">
        <br><br>
        <a style="cursor:hand" class="ms-button-reg" ng-click="vm.searchSP(vm.query, vm.page = vm.page+8)"> SHOW ME MORE </a>
        <br><br><br><br><br>
    </div>
</div>
<div class="ms-row" id="ms-search-foot">
    <div class="ms-col-12" style=" text-align: center;"><br>
        <span id="ms-id-footer-txt" >Designed by Gook Label - Powered by Spotify</span>
    </div>
</div>











<!--MODALES-->
<easy-modal reset-template="true" ng-if="vm.easyModal.status('albumModal')">
    <div class="modal-head">
        <div class="ms-row">
            <div class="ms-col-3 md-cls" id="ms-mod-col4">
                <div class="modal-img-container">
                    <div class="modal-img" style="content:url('{{vm.albumModal.img}}');"></div>
                </div>
            </div>
            <div class="ms-col-8 center-col"  style="text-align: left" id="ms-mod-col5">
                <br>
                <span class="modal-t1">Tracks on <br><span class="modal-t2">{{vm.albumModal.name}}</span></span>
            </div>
            <div class="ms-col-1 md-cls" id="ms-mod-col6">
                <div class="modal-cross" ng-click="vm.easyModal.close()"></div>
            </div>
        </div>
    </div>
    <br><br>
    <span ng-if="vm.albumModal.tracks.length >= 1">
        <div class="modal-track" style="text-align: left; padding: 8px"  ng-repeat="tra in vm.albumModal.tracks">
            <a ng-click="vm.player(tra)" style="cursor: pointer; cursor: hand;"><span class="track"><i class="{{vm.playerIcon()}}" aria-hidden="true"></i> {{tra.name}}</span></a>
        </div>
    </span>
    <span ng-if="vm.albumModal.tracks.length <= 0">
        <div class="modal-track" style="text-align: left; padding: 8px">
            <span class="track">Sorry no tracks found</span>
        </div>
    </span>

    <br>
</easy-modal>




<easy-modal reset-template="true" ng-if="vm.easyModal.status('artistModal')" >
    <div class="modal-head">
        <div class="ms-row">
            <div class="ms-col-3 md-cls" id="ms-mod-col1">
                <div class="modal-img-container">
                    <div class="modal-img" style="content:url('{{vm.artistModal.img}}');"></div>
                </div>
            </div>
            <div class="ms-col-8 center-col"  style="text-align: left" id="ms-mod-col2">
                <br>
                <span class="modal-t1">Albums of <br><span class="modal-t2">{{vm.artistModal.name}}</span></span>
            </div>
            <div class="ms-col-1 md-cls" id="ms-mod-col3">
                <div class="modal-cross" ng-click="vm.easyModal.close()"></div>
            </div>
        </div>
    </div>
    <br><br>
    <span ng-if="vm.artistModal.artistAlbums.length >= 1">
        <div class="modal-track" style="text-align: left; padding: 8px"  ng-repeat="alb in vm.artistModal.artistAlbums">
            <span class="track">{{alb.name}}</span>
        </div>
    </span>
    <span ng-if="vm.artistModal.artistAlbums.length <= 0">
        <div class="modal-track" style="text-align: left; padding: 8px">
            <span class="track">Sorry no Albums found</span>
        </div>
    </span>

    <br>
</easy-modal>

