/* music match - css*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* /reset */
body {
  font-family: sans-serif;
  font-size: 12px;
  color: #a9a9a9;
  background-color: #333441;
}
a:hover#ms-ref {
  background-color: #cd4282;
}
a:link#ms-ref {
  background-color: #d05d84;
}
/*Generales*/
body {
  margin: 0 0 0 0;
}
/*Cuerpo*/
div#ms-body {
  width: 100%;
  padding: 0;
  margin: 0;
}
div#ms-head {
  background-color: #cd4282;
}
div#ms-search-bar {
  background-color: #333441;
}
div#ms-serach-results {
  background-color: #383a49;
}
div#ms-foot {
  height: 100px;
  background-color: #333441;
}
/*Footer*/
span#ms-footer-txt {
  color: #808080;
  /* text-align: left; */
  left: auto;
  right: 50%;
  position: absolute;
  align-content: center;
  background-color: #cccccc;
}
span#ms-sb-title {
  font-size: 20px;
  color: #808080;
  text-transform: uppercase;
  font-family: sans-serif;
}
span#ms-sb-sub-title {
  font-family: sans-serif;
  font-size: 16px !important;
  color: #d3d3d3;
}
div#ms-searchbox-container {
  width: 60%;
}
input#ms-search-input {
  background-color: white;
  border-image: initial;
  width: 80%;
  text-align: left;
  margin: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
  padding: 8px 0 8px 20px;
  border: 0 none transparent;
}
span#ms-button-box {
  margin: 5px 5px 5px -3px;
  border-radius: 0 50px 50px 0;
  padding: 9px 5px 8px 5px;
  border: 0 none transparent;
  background-color: white;
}
/* Button stuff */
button#ms-search-button {
  align-items: flex-start;
  text-align: left;
  cursor: default;
  color: #ffffff;
  background-color: #d05d84;
  text-transform: uppercase;
  padding: 3px 13px 3px 13px;
  border: 1px solid transparent;
  border-radius: 100px;
}
button#ms-search-button:hover {
  color: #ffffff;
  background-color: #cd4282;
  border-color: transparent;
}
div#ms-content {
  width: 1080px;
}
.centered-v {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
}
.centered-h {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
*:focus {
  outline: none;
}
input#ms-search-input::-webkit-input-placeholder {
  color: #ebebeb;
}
input#ms-search-input:-moz-placeholder {
  color: #ebebeb;
}
input#ms-search-input:-ms-input-placeholder {
  color: #ebebeb;
}
input#ms-search-input:-moz-placeholder {
  color: #ebebeb;
}
#ms-ref {
  font-size: 8px;
  color: grey;
  border: 1px solid gray;
  background-color: #ececec;
  border-radius: 3px;
  padding: 3px;
  text-decoration: none;
}
