body {
  color: #212121; }

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
/* view change animation */
.main-content {
  background-color: aliceblue; }

.ms-index {
  color: #1f005a; }
